NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://mongo:27017/ratelimitdb
REDIS_URL=redis://redis:6379
DEFAULT_RATE_LIMIT_MAX_REQUESTS=100
DEFAULT_RATE_LIMIT_WINDOW_SECONDS=60
INTERNAL_API_KEY=change-this-in-prod
LOG_LEVEL=info
